<div class="panel panel-default" style="max-width:500px; margin-top: 5px; auto;">
  <div class="panel-heading">
    <h3 class="panel-title">忘记密码</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="submit()">
      <div class="form-group">
        <input type="text" class="form-control" id="email" ng-model="email" placeholder="输入邮件地址">
      </div>
      <div class="alert alert-warning" ng-show="error">
        {{error}}
      </div>
      <div class="alert alert-warning" ng-show="success">
        {{success}}
      </div>
      <input type="submit" class="btn btn-primary" value="发出">
    </form>
  </div>
</div>
