<div class="container">
    <div class="row">

        <div ng-controller="TypeCtrl">

            <table  >
                <tr ng-repeat="si in st1">

                    <td><a href="/endowment">{{si.kind}}</a><td>&emsp;&emsp; </td>
                    <td><a href="#">{{si.link}} </a></td><td>&emsp;&emsp; </td>
                    <td><a href="#">{{si.link1}} </a></td><td>&emsp;&emsp; </td>
                    <td><a href="#">{{si.link2}} </a></td> </tr>
            </table>
        </div>
        <div ng-controller="EIndexCtrl">

            <table  >
                <tr ng-repeat="ssi in idx">
                    <td>&emsp;&emsp;&emsp;&emsp; </td>
                    <td>{{ssi.dm}} </a></td><td>&emsp;&emsp;&emsp; </td>
                    <td>{{ssi.pm}} </a></td><td>&emsp;&emsp;&emsp; </td>
                    <td>{{ssi.je}} </a></td><td>&emsp;&emsp; </td>

            </table>
        </div>


    </div>
</div>