<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>可隐藏导航</title>
    <meta name="description" content=">可隐藏导航">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!" />
</head>
<body >

<div class="container" style="width:180px; padding: 50 50px;margin-right:0" >
    <div class="row" ng-controller="TypeCtrl" >
        <nav class="navbar navbar-default" role="navigation">

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><img border="0" src="public/images/left.png">社保信息 <b class="caret"></b></a>
                        <ul class="dropdown-menu menu-top">
                            <table>
                            <tr >
                                  <td><a href="/endowment">{{st1.s1.value1}}</a></td></tr>
                                <tr >
                                    <td><a href="/health">{{st1.s3.value3}}</a></td> </tr>
                                <tr >
                                    <td><a href="/birth">{{st1.s5.value5}}</a></td></tr>
                                <tr >
                                    <td><a href="/injury">{{st1.s4.value4}}</a></td> </tr>
                                <tr >
                                <td><a href="/unemployment">{{st1.s2.value2}}</a></td> </tr>
                                    </table>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </div>

                                  </nav>
                              </div>
                          </div>





                          </body>
                          </html>
