

    <div class="container" style="width:180px; padding: 50 50px;margin-left:0">
        <div class="row" ng-controller="TypeCtrl">

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <table  >
                                    <tr ng-repeat="si in st1">

                                     <td><a href="/endowment">{{si.kind}}</a>
                                        <td><a href="#">{{si.link}} </a></td>
                                        <td><a href="#">{{si.link1}} </a></td>
                                        <td><a href="#">{{si.link2}} </a></td> </tr>

                                    <tr ng-repeat="si in st2">

                                        <td><a href="/health">{{si.kind}}</a></td> </tr>
                                    <tr ng-repeat="si in st3">
                                        <td><a href="/birth">{{si.kind}}</a></td>
                                    </tr>
                                    <tr ng-repeat="si in st4">
                                        <td><a href="/injury ">{{si.kind}}</a></td>
                                    </tr>
                                    <tr ng-repeat="si in st5">
                                        <td><a href="/unemployment">{{si.kind}}</a></td>
                                    </tr>
                                </table>
                </div>

        </div>
    </div>




