

    <div class="container">

        <div ng-controller="TypeCtrl">

            <table  >
                <tr><th></th><td>&emsp;&emsp; </td>
                <th>缴费年限至</th><td>&emsp;&emsp; </td>
                <th>缴费总额</th><td>&emsp;&emsp; </td>
                <th>支付总额</th></tr>

                <tr ng-controller="EIndexCtrl">
                    <td ><a href="/endowment">{{st1.s1.value1}}</a></td><td>&emsp;&emsp;&emsp; </td>
                    <td><a href="/endowment">{{idx.dm}}</a></td><td>&emsp;&emsp;&emsp; </td>
                    <td><a href="/endowment">{{idx.pm}}</a></td><td>&emsp;&emsp;&emsp; </td>
                    <td><a href="/endowment">{{idx.je}}</a></td><td>&emsp;&emsp;&emsp; </td>
                </tr>
                                    <tr>
                                        <td ><a href="/health">{{st1.s3.value3}}</a></td> </tr>
                                    <tr>
                                        <td ><a href="/birth">{{st1.s5.value5}}</a></td> </tr>
                                    <tr>
                                        <td ><a href="/unemployment">{{st1.s2.value2}}</a></td>
                                    </tr>
            </table>

        </div>
    </div>




