<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">山大地纬社会保险个人权益-navbar</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" ng-hide="user">
          <a href="/#">首页</a>
        </li>
        <li class="dropdown" ng-hide="user">
          <a href="/mobile">移动版</a>
        </li>
        <li class="dropdown" ng-hide="user">

          <a href="/job">关于</a>
        </li>
        <li class="dropdown" ng-show="user">
          <a href="/#">首页</a>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/profile" ng-click="profile()">用户信息</a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
        </li>
        <li ng-hide="user">
          <a href="/signup">注册</a>
        </li>
        <li ng-hide="user">
      <a href="/signin">登录</a>

        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

