

<ol class="breadcrumb">
    <li><a href="#">home</a></li>
    <li><a href="/birth">生育</a></li>
    <li class="active">发放支付明细</li>
</ol>

<p>{{user.username}}的生育发放支付历史明细</p>

<div >

    <form ng-submit="submit()">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        start date：<input type="date" class="form-control"  id="dt1" datepicker-popup ng-model="dt1" is-open="status.opened"
                                          datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  />
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="input-group">
                        end date： <input type="date" class="form-control"  id="dt2" datepicker-popup ng-model="dt2" is-open="status.opened"
                                         datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    </p>
                </div>
            </div>
        </div>
        <pre>Selected  date range  is: <em>{{dt1 | date:'fullDate' }}——{{dt2 | date:'fullDate' }}</em></pre>
        <div class="alert alert-warning" ng-show="error">
            {{error}}
        </div>

        <input type="submit" class="btn btn-primary" value="筛选">
    </form>

    <ng-include src="'my_modules/payhist/public/payhist.html'"></ng-include>

   <table >
        <tr ng-repeat="saa in epaid">
              <td>{{saa.bma001}} </td> <td>&emsp; </td>
              <td>{{saa.amc051}} </td><td>&emsp; </td>
              <td>{{saa.aae002}} </td><td>&emsp;&emsp; </td>

        </tr>
    </table>
    <div ng-show="totalPage>1">

    <ng-include src="'my_modules/pag/public/pagination.html'"></ng-include>
</div>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">

    <div  ng-controller="BirthPaidCtrl" id="chart1" style="height: 200px;">
        历年拨付总额信息
        <svg></svg>
    </div>
</div>


